@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-nav: rgb(255, 255, 255, var(--tw-text-opacity));
  --color-gray-900: color(display-p3 0.0275 0.0275 0.0275);
  --color-gray-800: color(display-p3 0.137 0.137 0.137);
  --color-gray-700: color(display-p3 0.2353 0.2353 0.2392);
  --color-gray-600: color(display-p3 0.3412 0.3451 0.3451);
  --color-gray-500: color(display-p3 0.4549 0.4588 0.4588);
  --color-gray-400: color(display-p3 0.5725 0.5765 0.5765);
  --color-gray-300: color(display-p3 0.6941 0.698 0.698);
  --color-gray-200: color(display-p3 0.8235 0.8235 0.8275);
  --color-gray-100: color(display-p3 0.9529 0.9529 0.9569);
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}